body {
  font-family: "Georgia", serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdf8e1;
  color: #5a4a3f;
}

/* Encabezado */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2b48c;
  color: #3e2e23;
  padding: 15px 20px;
  border-bottom: 3px solid #8b5a2b;
}

header .logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "Courier New", monospace;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #3e2e23;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #8b5a2b;
}

header .userSection{
    width: 200px;
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
  
}


 header .submenu {
  position: absolute;
  top: 100%;         
  right: 0;          
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 150px;
  z-index: 1000;      
 
}

header .userSection .submenu{
    display: block;
}

header .submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .submenu li {
  padding: 10px 15px;
}

header .submenu li a {
  text-decoration: none;
  color: #333;
  display: block;
}

header .submenu li a:hover {
  background-color: #d2b48c;
  color: #fff;
}

/* Mostrar el submenu al hacer hover */
header  .userSection:hover .submenu {
  display: block;
}

/*responsividad*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    header nav ul {
        flex-direction: column;
        width: 100%;
    }
    
    header nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }
    }